<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.midasgo.bookdoc">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>

    <application
            android:name=".MyApp"
            android:allowBackup="true"
            android:icon="@mipmap/app_icon"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/app_icon"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">

        <meta-data
                android:name="com.kakao.sdk.AppKey"
                android:value="@string/kakao_app_key"/>

        <receiver android:name=".receiver.AlarmReceiver"></receiver>
        <service
                android:name=".service.AlarmService"
                android:enabled="true">
        </service>

        <activity
                android:name=".ui.act.ActIntro"
                android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".ui.act.ActLogin"
                android:screenOrientation="portrait"
                android:theme="@style/AppTheme">
        </activity>
        <activity
                android:name=".ui.act.ActMain"
                android:launchMode="singleTask"
                android:screenOrientation="portrait"
                android:theme="@style/AppTheme">
            <intent-filter>
                <data
                        android:host="@string/kakaolink_host"
                        android:scheme="@string/kakao_scheme"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".ui.act.ActAddBook"
                android:screenOrientation="portrait"
                android:theme="@style/AppTheme">
        </activity>
        <activity
                android:name=".ui.act.ActBookDetail"
                android:screenOrientation="portrait"
                android:theme="@style/AppTheme">
        </activity>
        <activity
                android:name=".ui.act.ActModifyBook"
                android:screenOrientation="portrait"
                android:theme="@style/AppTheme">
        </activity>
    </application>

</manifest>